P5ELearning/force-app/main/default/flows/Flow1.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>EmailTo_Student</name>
        <label>EmailTo Student</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>Felicitaciones</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$User.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>Felicitaciones</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <description>Al completar la última unidad de un módulo, el mismo debe quedar registrado como “Completed” para ese alumno.</description>
    <interviewLabel>Flow1 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>FlowEmail</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>ChangedField</name>
        <label>ChangedField</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <connector>
            <targetReference>EmailTo_Student</targetReference>
        </connector>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>ChangedField</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Progress__c</field>
            <operator>EqualTo</operator>
            <value>
                <numberValue>100.0</numberValue>
            </value>
        </filters>
        <object>User_Module__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <textTemplates>
        <name>Email</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Felicitaciones {!$Record.User__r.Name} por completar el modulo {!$Record.Name} con {!$Record.Points__c} de {!$Record.Quantity_Unit__c}&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>Felicitaciones</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Hola {!$User.FirstName} has terminado el modulo {!$Record.Module__r.Name} y has sumado {!$Record.Module__r.Points__c} puntos.&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>Gracias</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Gracias!&lt;/p&gt;</text>
    </textTemplates>
</Flow>
