P5ELearning/force-app/main/default/flows/HomeSkills.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>AsigSkill</name>
        <label>AsigSkill</label>
        <locationX>264</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>Test1</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>{!LoopSkills.Name} &lt;br&gt;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopSkills</targetReference>
        </connector>
    </assignments>
    <description>Desde la home del alumno, quiero que aparezca una pantalla que me permita seleccionar un skill existente para poder visualizar los modulos relacionados a dicho skill.</description>
    <dynamicChoiceSets>
        <name>TestVir</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Skill__c</picklistField>
        <picklistObject>Module__c</picklistObject>
    </dynamicChoiceSets>
    <interviewLabel>HomeSkills {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Select Skills</label>
    <loops>
        <name>LoopSkills</name>
        <label>LoopSkills</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <collectionReference>SetPicklist</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AsigSkill</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Result</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <description>Toma la Picklist</description>
        <name>SetPicklist</name>
        <label>SetPicklist</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LoopSkills</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Skill__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Skills</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Module__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Result</name>
        <label>Result</label>
        <locationX>176</locationX>
        <locationY>734</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>test4</name>
            <fieldText>&lt;p&gt;{!Test1}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Muestra la picklist de modulo</description>
        <name>ShowSkills</name>
        <label>ShowSkills</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>SetPicklist</targetReference>
        </connector>
        <fields>
            <name>Skills</name>
            <choiceReferences>TestVir</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Skills</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>ShowSkills</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Test1</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
