P5ELearning/force-app/main/default/flows/PuntosyBadges.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>AsigmentTotal</name>
        <label>AsigmentTotal</label>
        <locationX>176</locationX>
        <locationY>1031</locationY>
        <assignmentItems>
            <assignToReference>ConstadorModulosCompletos</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>ModuloTotal</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateRecordTotales</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asignacion</name>
        <label>Asignacion</label>
        <locationX>264</locationX>
        <locationY>575</locationY>
        <assignmentItems>
            <assignToReference>SumatoriaPuntos.Points__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop.Points__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VariableUser.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop.User__r.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop</targetReference>
        </connector>
    </assignments>
    <interviewLabel>PuntosyBadges {!$Flow.CurrentDateTime}</interviewLabel>
    <label>PuntosyBadges</label>
    <loops>
        <name>Loop</name>
        <label>Loop</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <collectionReference>RegistroDisparos</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Asignacion</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>UpdateUserFinal</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>ModuloTotal</name>
        <label>ModuloTotal</label>
        <locationX>176</locationX>
        <locationY>911</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AsigmentTotal</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>User__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.User__r.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>User_Module__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>RegistroDisparos</name>
        <label>RegistroDisparos</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>User__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.User__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>User_Module__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UpdateRecordTotales</name>
        <label>UpdateRecordTotales</label>
        <locationX>176</locationX>
        <locationY>1151</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.User__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Badges__c</field>
            <value>
                <elementReference>ConstadorModulosCompletos</elementReference>
            </value>
        </inputAssignments>
        <object>User</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateUserFinal</name>
        <label>UpdateUserFinal</label>
        <locationX>176</locationX>
        <locationY>791</locationY>
        <connector>
            <targetReference>ModuloTotal</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VariableUser.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Points__c</field>
            <value>
                <elementReference>SumatoriaPuntos.Points__c</elementReference>
            </value>
        </inputAssignments>
        <object>User</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>RegistroDisparos</targetReference>
        </connector>
        <object>User_Module__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>ConstadorModulosCompletos</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>SumatoriaPuntos</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>User_Module__c</objectType>
    </variables>
    <variables>
        <name>VariableUser</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>User</objectType>
    </variables>
</Flow>
